* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 2rem;
}

#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

/* SCROLL BAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.horizontal-scroll {
align-self: flex-end;
background-color: rgba(0, 0, 0, 0.3);
position: absolute;
bottom: 0px;
font-family:Arial, Helvetica, sans-serif;
}

.day-scroller {
  display: grid;
  gap: .25rem;
  grid-auto-flow: column;
  grid-auto-columns: 28%;
  color: rgb(255, 255, 255);

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overscroll-behavior-inline: contain;
  -webkit-overflow-scrolling: touch;
  -webkit-scrollbar {
    display: none;
  }
}

.media-element {
  padding: 0.25rem;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  font-size: 16px;
  height: 50px;
  border-radius: 5px;
}

.media-element > img {
  min-width: 100%;
    min-height: 100%;
    margin: -8px 0 0 0;
    padding: 0;
}

.icon-sm {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.date {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  text-align: start;
  font-weight: 300;
}

.low-temp {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: start;
  font-weight: 700;
}

.high-temp {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  text-align: end;
  font-weight: 300;
}
